.navbar {
  height: 70px;
  width: 100vw;
  background-color: #333333;
  color: white;
}
.navbar-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  margin-left: 300px;
}
.navbar-link {
  text-decoration: none;
  color: lightgrey;
  font-size: 20px;
}
.navbar-logo {
  width: 50px;
  object-fit: contain;
}
.navbar-item {
  text-decoration: none;
}
