.homePage-banner {
  height: 70vh;
  background-image: url("/src/pictures/homeBg.jpg");
}
.launch-page {
  height: 100vh;
  background-color: brown;
}
canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}
.product-page {
  height: 500vh;
  background: #000;
}
