.launch-page {
  height: 100vh;
  margin-top: -50px;
  background-image: linear-gradient(#b38942, #88662b);
}
.launchBtn {
  position: absolute;
  background-color: #88662b;
  color: white;
  left: 150px;
  bottom: 430px;
}
