/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  margin: 0px;
}

html {
  height: 100vh;
}
@font-face {
  font-family: "league gothic";
  src: local("MyFont"),
    url(./assets/fonts/leaguegothic-regular-webfont.woff) format("woff");
}
@font-face {
  font-family: "league gothic italic";
  src: local("MyFont"),
    url(./assets/fonts/leaguegothic-italic-webfont.woff) format("woff");
}
body {
  font-family: "league gothic";
}
/* Utilities */
.button-1 {
  background-color: brown;
  font-size: 32px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
