#hair {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
#face {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
#beard {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
